body {
    background-color: azure;
}


.mainHeaderImage {
    background-image: url("./images/front-end.jpg");
    background-size: cover;
    height: 65vw;
    opacity: 0.7;
    width: 100%;
    background-size: cover;
}


ul {
  list-style-type: none;
}