body {
    background-color: ghostwhite;
}

.center-text {
  text-align: center;
}

.frame {
  border: 20px solid gainsboro; 
}

h3 {
  font-family:  'Noto Sans', sans-serif;
  font-weight: bold;
  color: #1ABC9C;
}

h4 {
  font-size: 18px;
  font-family:  'Noto Sans', sans-serif;
  font-weight: bold;
  color: #1ABC9C;
}

.left-text {
  text-align: left;
}

.list-inline {
  display: inline-block;
}

.mainHeaderImage {
    background-image: url("./images/front-end.jpg");
    background-size: cover;
    height: 65vw;
    opacity: 0.7;
    width: 100%;
    background-size: cover;
}

.pad-text {
  padding-left: 7vw;
  padding-right: 7vw;
}

.round {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small-font {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

.vspace {
  margin-top: 1.8vh;
}

.vspace1 {
  margin-bottom: 12px;
}

