body {
    background-color: ghostwhite;
}

.center-text {
  text-align: center;
}

.frame {
  border: 20px solid gainsboro; 
}

h3 {
  font-family:  'Noto Sans', sans-serif;
  font-weight: bold;
  color: #1ABC9C;
}

h4 {
  font-size: 18px;
  font-family:  'Noto Sans', sans-serif;
  font-weight: bold;
  color: #1ABC9C;
}

.left-text {
  text-align: left;
}

.list-inline {
  display: inline-block;
}

.mainHeaderImage {
    background-image: url("./images/front-end.jpg");
    background-size: cover;
    height: 65vw;
    opacity: 0.7;
    width: 100%;
    background-size: cover;
}


ul {
  list-style-type: none;
}

.vspace {
  margin-top: 1.8vh;
}

